body {
  background-color: #162b32;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

div {
  margin: 10px;
}

label {
  display: inline-block;
  width: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

input {
  color: white;
}

#submit {
  color: black;
}
